[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
peewee = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
python-dotenv = "*"
fastapi-mail = "*"

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"
requests = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
