@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}

.navbar {
  width: 100%;

  top: 0;
  padding-top: 3em;
  padding-left: 38%;
  position: fixed;

  transition: all 0.3s ease;
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  text-transform: uppercase;
}

.navbar ul li {
  float: right;
  margin-right: 4em;
  transition: all 0.5s ease;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

.navbar li a:hover {
  color: #34547a;
}

.navbar-scroll {
  background-color: #34547a;
  padding-top: 1em;
  padding-left: 15%;
}

.navbar-scroll ul li {
  margin-right: 8em;
}

.navbar-scroll li a {
  color: white;
}

.navbar-scroll li a:hover {
  color: azure;
}

.hero {
  width: 100%;
  height: 100%;

  background: #fff;

  padding-top: 10%;
  padding-bottom: 20%;
}

.hero-disabled {
  display: none;
}

.order-btn {
  width: 15em;
  height: 4em;

  text-align: center;

  border: 0ch;
  border-radius: 0%;

  padding-top: 1.3em;

  background: #34547a;
}

.order-btn:hover,
.order-btn:focus {
  background: #263c58;
}

.footer-custom {
  color: white;

  margin-top: 40vh;
  background: #34547a;
}

.footer-logo {
  padding: 1em;
}

#daterange {
  text-align: center;
  font-size: 1.5em;
}

.registration-form form {
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 50px 70px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .item {
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.footer-logo {
  padding: 1em;
}

.table-h {
  width: 300px;
  height: 50px;
  background: #c4c4c4;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.table-v {
  width: 50px;
  height: 300px;
  background: #c4c4c4;
}

.computer {
  border: solid #ff1010;
  width: 30px;
}

.chair-h {
  width: 30px;
  height: 18px;
  background-color: #c4c4c4;
  margin-right: 3.65em;
  cursor: pointer;
}

.chair-h2 {
  width: 30px;
  height: 18px;
  background-color: #c4c4c4;
  margin-right: 2em;
  cursor: pointer;
}

.chair-v {
  width: 18px;
  height: 30px;
  background-color: #c4c4c4;
  cursor: pointer;
}

.table-wide {
  width: 160px;
  height: 92px;
  background: #c4c4c4;
  margin: 2em;
}

.free {
  background-color: blue;
}

.free:hover {
  background-color: green;
}

.marked {
  background-color: green;
}

.occupied {
  background-color: red;
}

.projector {
  border: solid blue;
  height: 120px;
  float: left;
  margin-left: 0.5%;
}

.registration-form {
  padding: 50px 0;
}

.registration-form form {
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 50px 70px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon {
  text-align: center;
  background-color: #5891ff;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 50px;
  line-height: 100px;
}

.registration-form .item {
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.registration-form .create-account {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #5791ff;
  border: none;
  color: white;
  margin-top: 20px;
}

.registration-form .social-media {
  max-width: 600px;
  background-color: #fff;
  margin: auto;
  padding: 35px 0;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #9fadca;
  border-top: 1px solid #dee9ff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons {
  margin-top: 30px;
  margin-bottom: 16px;
}

.registration-form .social-icons a {
  font-size: 23px;
  margin: 0 3px;
  color: #5691ff;
  border: 1px solid;
  border-radius: 50%;
  width: 45px;
  display: inline-block;
  height: 45px;
  text-align: center;
  background-color: #fff;
  line-height: 45px;
}

.registration-form .social-icons a:hover {
  text-decoration: none;
  opacity: 0.6;
}

@media (max-width: 576px) {
  .registration-form form {
    padding: 50px 20px;
  }

  .registration-form .form-icon {
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
  }
}

.box {
  margin: 0 auto;
  padding-left: 20%;
  padding-top: 10em;
  padding-bottom: 15.4em;
}

.box img {
  width: 250px;
  height: 250px;
  border-radius: 5%;
  float: left;
}

.box a {
  width: 250px;
  display: block;
  clear: left;
}

.information {
  margin-left: 300px;
  display: block;
  position: absolute;
}
